body {
	margin:0 auto;
	padding:0px;
	width:100%;
	height:100%;
	min-width:650px;
	font-size:10;
}
.table{
	float:center;
}
#header{
	width:100%;
	height:20%;
	padding: 3px;
	border:0;
	margin:0;
	background-color:white;
}
#container{
	width:100%;
	height:60%;
	padding: 3px;
	border:0;
	margin:0;
	background-color:white;
}
#footer{
	width:100%;
	height:20%;
	padding: 3px;
	border:0;
	margin:0;
}

/*Estilos del header*/

#foto{
	width:auto;
	height:auto;
	padding: 3px;
	border:0;
	margin:0;
	background-color:white;
}
#direccion{
	width:auto;
	height:auto;
	padding: 3px;
	border:0;
	margin:0;
	background-color:white;
	position:absolute;
	left:300px;
	top:10px;
}
#tipofactura{
	width:150px;
	height:auto;
	padding: 3px;
	border:0;
	margin:0;
	background-color:white;
	position:absolute;
	left:530px;
	top:10px;
}

/*Estilos del container*/
.recuadro{
	border:1px;
}
#datoscliente{
	width:90%;
	height:20%;
	padding: 3px;
	border:1px;
	margin:0;
	background-color:white;
	border-radius:10%;
}
#lineasfactura{
	width:90%;
	height:auto;
	padding: 3px;
	border:1px;
	margin:0;
	background-color:white;
	-moz-border-radius:10%;
}

/*Estilos del footer*/
#pagos{
	width:auto;
	height:auto;
	padding: 3px;
	border:0;
	margin:0;
}
#entidad{
	width:350px;
	height:auto;
	padding: 3px;
	border:0;
	margin:0;
}