
/* reset */
* {
margin: 0;
padding: 0;
}
ul li {
	list-style-type:none;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
    background: #1e4477;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#wrapper {
width: 1140px;
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;


}
#ltable{
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: x-large;
	font-style: normal;
	color: black;
	text-align: center;
	font-variant: normal;
	border-color: gray;
	background-color: white;
	margin:auto;


}

nav {
width: 1140px;
height: 69px;
margin: 0 auto;
background: #1F4677 url(../images/blueprintpaper.png) repeat-x;
}

header {
position:relative;
width: 1140px;
height: 120px;
margin: 0 auto;
background: #D2E1F6;
}

#main {
width: 1140px;
margin: 0 auto;
padding: 10px 0 10px 0;
background: #fff;
overflow: hidden;
}

#content {
float: right;
width: 790px;
margin-right: 30px;
}

#sidebar {
float: left;
padding-left: 20px;
width: 250px;
background: #fff;
border-right: 4px #1F4677 solid;
}

footer {
width: 1140px;
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
list-style-type:none;
}

a:link, a:visited {
color:hotpink;
text-decoration: none;
}

a:hover, a:active {
color: #333;
text-decoration: underline;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* nav */

nav .menu {
font-size: 22px;
font-weight: bold;
}

nav .menu ul {
margin: 0;
padding: 25px 0 0 20px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: right;
}

nav .menu a {
display: block;
margin-right: 5px;
padding: 0px 15px;
text-decoration: none;
color: #1F4677;
	float:left;
}

nav .menu a:hover {
text-decoration: underline;
}

/** HEADER */

#plandesign {
position: absolute;
top: 0px;
right: 2px;
}

header h1, header p {
margin: 0;
padding: 0 0 0 30px;
line-height: normal;
}

header h1 {
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-style: normal;
font-variant: normal; 	
float: left;
padding-top: 20px; 
}
table {
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: small;
	font-style: normal;
	color: black;
	text-align: center;
	font-variant: normal;
	border-color: gray;
	background-color: white;


}
#btable{
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size:   11px;
	font-style: normal;
	color: black;
	text-align: center;
	font-variant: normal;
	border-color: gray;
	background-color: white;
	margin-left: -2px;
	
}


#btable {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
#btable tr {
  border: 1px solid #D9E4E6;
}
#btable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
#btable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
#btable th:first-child {
  display: table-cell;
  text-align: center;
}
#btable th:nth-child(2) {
  display: table-cell;
}
#btable th:nth-child(2) span {
  display: none;
}
#btable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  #btable th:nth-child(2) span {
    display: block;
  }
  #btable th:nth-child(2):after {
    display: none;
  }
}
#btable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
#btable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  #btable td {
    border: 1px solid #D9E4E6;
  }
}
#btable th, #btable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  #btable th, #btable td {
    display: table-cell;
    padding: 1em;
  }
}


header h1 a:link, header h1 a:visited {
text-decoration: none;
color: #333;
}

header h1 a:hover { 
text-decoration: underline; 
}

header p {
padding: 80px 0 0 30px;
width: 500px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-style: normal;
font-variant: normal;
font-size: 14px;
color: #333;
}

/** ARTICLES **/
article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p, ul, ol, hr {
margin-bottom: 24px;
}

#content ul ul, ol ol, ul ol, ol ul {
margin-bottom: 0;
}

#content h1, h2, h3, h4, h5, h6 {
color: #333;
margin: 0 0 20px 0;
line-height: 1.5em;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside h3 {
font-size: 18px;
}

aside ul {
list-style: inside;
color: #333;
margin-bottom: 20px;
margin-top: -15px;
}

#footer-area {
background: #D2E1F6;
color: #333;
font-size: 90%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
margin-right: 15px;
margin-left: 15px;
width: 190px;
}

.footer-segment ul li {
	margin-top:5px;
}

footer aside h4 {
color: #333;
font-size: 16px;
line-height: 1.5em;
}

footer p {
margin-top: -15px;
}


/*desplegable gestiones secundarias*/
.nav > li {
	float:left;
}
.nav li {
	margin:-10px;
}

/*titulo*/
.nav li a {
	font-weight: bold;
	background-color:#fff;
	font-size:18px;
	color:#333;
	padding:14px 10px;
	display: block;
}
/*cada una de las gestiones*/
.nav ul li a {
	font-weight:normal;
	background-color:#fff;
	font-size:14px;
	color:#333;
	margin-left:-1px;
	padding: 1px 5px 9px 17px;
	border-right: 3px #1F4677 solid
}
.nav li a:link, a:visited {
color:hotpink;
text-decoration: none;
}

.nav li a:hover, a:active {
color: #333;
text-decoration: underline;
}
.nav li a:hover{
	background-color:#fff;
}

.nav li ul {
	display:none;
	position:relative;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}


/*fin desplegable*/


.form-style-1 {

	color: white;
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {

    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{

    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{

    width: 49%;
}

.form-style-1 .field-long{

    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    margin-top: 20px;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
  
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.form-title{

    margin-left: 600px !important;
    font-size: 35px;
    color: white;
}
*{
    margin-top: 4px;
}

.form-link{
    color: white !important;
    margin-left: 15px;
}